$fontFamily:
Microsoft YaHei,
WenQuanYi Micro Hei,
SF UI Text,
Arial,
PingFang SC,
Hiragino Sans GB,
sans-serif;

$grey : #a0a0a0;
$lightgrey: #dddddd;

$blockcolor: #fafbfc;

$backgroudcolor: #f2f3f8;