$fontFamily: Microsoft YaHei,
WenQuanYi Micro Hei,
SF UI Text,
Arial,
PingFang SC,
Hiragino Sans GB,
sans-serif;

$grey: #a0a0a0;
$lightgrey: #dddddd;

$blockcolor: #fafbfc;

$backgroudcolor: #f2f3f8;

$primarybtn: #45a2fb;
$darkBlue: #0069ff;
$lightBlue: #61a3e8;

$red: #f87f8b;
$darkRed: #ff8074;
$orange: #f97749;
