@import '../../../scss/common/base';
@import '../../../scss/common/color';
@import "../../../scss/common/base";
@import "../../../scss/FileIndex";

$footerSecondHeight: 40px;
$footerFontSize: 10px;
$footerMinWidth: 900px;
footer.footer-component {
    //position: absolute;
    //bottom: 0;
    width: 100%;
    min-width: $footerMinWidth;
    height: $footerHeight;

    font-size: $footerFontSize;
    .footer-component-first {
        background-color: $blockcolor;
        height: $footerHeight - $footerSecondHeight;
        .footer-left {
            display: inline-block;
            width: 35%;
            margin-left: 15%;
            text-align: left;
            vertical-align: middle;
            div {
                margin: 10px 0;
            }
            p {
                color: $grey;
            }
        }
        .footer-right {
            display: inline-block;
            width: 50%;
            text-align: center;
            ul {

                li {
                    box-sizing: border-box;
                    display: inline-block;
                    padding: 0 10px;
                    border-right: 1px solid $grey;
                    a {
                        color: $grey;
                    }
                }
                li:last-of-type{
                    border-right: none;
                }
            }
        }
    }
    .footer-component-second {
        height: $footerSecondHeight;
        background-color: $grey;
        text-align: center;
        line-height: $footerSecondHeight;
        font-size: $footerFontSize;
        color: $blockcolor;
    }
}