@import '../../scss/common/base.scss';
@import '../../scss/common/color.scss';
$headerHeight: 50px;
$navcolor: #474545;
$headerMaginBottom: 50px;
$headerMinWidth: 900px;
a {
    text-decoration: none;
}

@include cf('.clearfix');
.main-header {
    position: relative;
    min-width: $headerMinWidth;
    height: $headerHeight;
    background-color: $blockcolor;
    margin-bottom: $headerMaginBottom;
    .header-component {
        display: inline-block;
    }
    .header-logo-component {
        width: 25%;
        text-align: center;
        .logo-component {
            height: $headerHeight;
            margin-top: 5px;
            display: inline-block;
            vertical-align: middle;
            padding-right: 5px;
            img {
                // 自动适应div大小
                height: 100%;
            }
        }
        .logo-name {
            border-left: solid 1px $grey;
            display: inline-block;
            padding: 5px 1em;
            font-size: 1em;
        }
    }
    .header-nav-component {
        width: 25%;
        text-align: center;
        ul {
            list-style-type: none;
            li {
                display: inline-block;
                margin-left: .7em;
                a {
                    font-size: 0.75em;
                    color: $navcolor;
                }
            }
        }
    }
    .header-search-component {
        width: 25%;
        text-align: left;
        position: relative;
        color: $grey;
        input {
            border-radius: 50px;
            outline: none;
            border: none;
            background-color: $backgroudcolor;
            height: 25px;
            text-indent: 0.6em;
            font-size: 0.75em;
            width: 75%;
        }
         ::-webkit-input-placeholder {
            color: $grey;
        }
        i {
            position: relative;
            left: -22px;
        }
    }
    .header-info-component {
        width: 25%;
        text-align: center;
        line-height: $headerHeight;
        ul {
            span {
                color: $grey;
            }
            a {
                color: $grey;
                span {
                    font-size: 0.75em;
                }
            }
            list-style-type: none;
            li {
                display: inline-block;
                margin: 0 5px;
            }
            li:last-of-type {
                margin-right: 50px;
            }
        }
    }
}