@import '../../scss/common/base';
@import '../../scss/common/color';

$bodyMinWidth: 525px;
$bodyMarginBottom: 50px;
$bodyMarginTop: 50px;
@include cf('.clearfix');
.home-body {
    background-color: transparent;
    margin-bottom: $bodyMarginBottom;
    margin-top: $bodyMarginTop;
    & > div {
        width: $bodyMinWidth;
        margin: 0 auto;
        header {
            padding-bottom: 50px;
            p {
                font-size: 1.5em;
                text-align: center;
            }
            ul {
                margin-top: 10px;
                li {
                    float: left;
                    text-align: center;
                    width: calc(20% - 1px);
                    border-right: 1px solid $lightgrey;
                    a {
                        color: $lightgrey;
                        font-size: 1.2em;
                    }
                }
                li:last-of-type {
                    border-right: none;
                }
            }
        }
        section {
            .caption {
                background: url("../../icon/wave1.png") center no-repeat;
                height: 171px;
                width: 100%;
                .body-logo {

                    height: 72px;
                    width: 47px;
                    background: url("../../icon/lock.png") center no-repeat;
                    margin: 20px auto;
                }
                p {
                    text-align: center;
                    span {
                        color: white;
                        font-size: 1.5em;
                    }
                }
            }
            .caption:before {
                content: '';
                display: table;
            }

            .main-body {
                background-color: $blockcolor;
                .info {
                    margin: 50px auto;
                    p {
                        font-weight: 500;
                        font-size: 1.2em;
                        text-align: center;
                    }
                }
                .extract-code-text {
                    width: 360px;
                    height: 45px;
                    margin: 0 auto;
                    input {
                        background-color: $backgroudcolor;
                        border: none;
                        width: inherit;
                        height: inherit;
                        font-size: 1.5em;
                        text-indent: 5px;
                    }
                    input:focus{
                        outline: none;
                    }
                }
                .submit-btn{
                    width: 360px;
                    height: 45px;
                    text-align: center;
                    border-radius: 20px;
                    background-color: $primarybtn;
                    line-height: 45px;
                    margin: 100px auto;
                    span{
                        color: white;
                        font-weight: 500;
                    }
                }
            }
            .main-body:before,.main-body:after {
                content: '';
                display: table;
            }
        }
    }
}