@import "common/base";

$footerHeight: 100px;

html, body {
  height: 100%;

}

.youyun-container {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
  background-color: $backgroudcolor;
  //padding-bottom: $footerHeight;
}